#imageContainer {
    max-width: 100px;
    max-height: 100px;
    overflow: scroll;
}

#galleryContainer {
    width: auto;
    max-width: 500px;
}

body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

/* Swipper */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 70%;
    margin: auto;
}

.swiper-slide img {
    position: center;
    display: block;
    width: 100%;
    height: 100%;
}